/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 body {
	text-align:center;
}

.container {
	width: 80%;
	margin: 15px auto;
	font-family: 'Raleway';
}

.title {
	color: #3AACF2;
	margin: 20px;
}

.title >#crush-it-title{
		font-size: 100px;
		margin-bottom: 0;
	}
.title > p {
	font-size: 24px;
}

.form {
	margin: 30px auto;
}

.form-item {
	margin-top: 10px;
	margin-bottom: 30px;
}
