// Place all the styles related to the experts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.instructions {
	margin: 0;
	padding: 5px 20px 20px;
	background-color: #3AACF2;
	color: white;
	font-size: 24px;
}

#expert_email, #post_passcode, #expert_bio {
	border: 1px solid LightSteelBlue;
	border-radius: 6px;
	font-family: 'Raleway';
	font-size: 16px;
	padding-left: 6px;
	color: #3AACF2;

	&:active{
		outline-color: #3AACF2;
	}
}

#post_email {
	width: 30%;
	height: 20px;
}

#post_passcode {
	width: 15%;
	height: 20px;
}

#submit-button {
	width: 140px;
	height: 40px;
	border: 1px solid #3AACF2;
	border-radius: 8px;
	background-color: white;
	color: #3AACF2;
	font-family: 'Raleway';
	font-size: 18px;
	outline: 0;
}

#submit-button:hover {
	background-color: #CEE4F2;
}

#submit-button:active {
	background-color: #9DD2F2;
}
